body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-size: 15px;
 line-height: 1.5;
}

.maincontainer{
  max-width: 100%;
  margin: 0 auto;
  font-size: 15px;
  width: 100%;
  
}
.banner{
  background-image: url("../public/images/banner1.svg");
  background-color: #cccccc;
  height: 55vh;
  background-position: contain;
  background-repeat: no-repeat;
  background-size: cover;
 
  position: relative;
  width: 100vw;
  margin-top: 50px; 
}

 
.navbar{
  background-color: white;
  padding-left: 10px;
  height: 40px;
  position: relative;
  bottom: 40px;
  display: flex;
  margin-top: 50px;  
}
.fa-bars{
  font-size: 30px;

}
.fa-user-circle{
  font-size: 35px;
  color: #F77E23;
  
}
#fountain{
  padding-left: 20px;
  padding-right: 170px;
  font-size:30px;
  font-style: Source Sans Pro;
  color: #F77E23;
}

.banner-text{
  color: white;
  text-align: center;
  font-size: 12px;
  font-style:Poppins;
  
}
.banner-text-header{
  padding-left: 70px;
  padding-right:70px ;

}
.banner-text-paragraph{
  opacity: 0.8;
  font-size: 15px;
  padding-left: 70px;
  padding-right:70px ;
 
}

.buttons{
padding: 20px 42px 20px 42px;
margin-top: 35px;
background-color: #F77E23;
color: white;
font-weight: bold;
}



